body{
    background: #000000fa;
    display: flex;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.container {
    width: 700;
    padding-top: 20px;
    margin: auto;
    margin-left: 20px;
    padding-right: 50px;
    background-color: rgb(255, 255, 255);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #c4c4c4;
    border-radius: 8px;
    width: 100%;
    padding: 8px 15px;
    margin: 5px 0;
}

.opcoes button{
    padding-right: 60px;
    font-size: 20px;
}

p{
    color: rgb(0, 0, 0);
    font-size: 18px;
}